@charset "utf-8";

* {
	margin: 0;
}

#type {
	margin-top: 10px;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
}

.left {
   margin-top: 10px;
   float: left;
   margin-right: 15px;
   width: 40%

}

.right {
    margin-top: 10px;
   float: left;
   margin-right: 15px;
   width: 20%
   position: absolute;

}